
    <div style="text-align: center;">
        <div style="width:200px;  margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Thank you submitting your apllication<br /> we'll be in touch shortly!</p>
    </div>

