@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Valid Applications";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-bordered table-hover dt-responsive">
    <tr>
        @foreach (DataColumn col in Model.Columns)
        {
        <th>@col.ColumnName</th>
        }

    </tr>
    @foreach (DataRow row in Model.Rows)
    {
    <tr>
        @foreach (DataColumn col in Model.Columns)
        {
        <td>@row[col.ColumnName]</td>
        }
    </tr>
    }
</table>
